*,
::after,
::before {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

#container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 300px 1fr;
}

.menu {
  background-color: rgb(223, 223, 223);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.add-button {
  border: 3px solid black;
  border-radius: 1rem;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-new-text {
  margin: auto;
  font-size: 2rem;
  font-weight: bold;
}

.line {
  border: 2px solid red;
}

.project-holder {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-container {
  position: relative;
  border: 3px solid black;
  text-align: center;
  padding: 10px;
  border-radius: 2rem;
  font-size: 2.3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}

.project-delete,
.project-edit {
  height: 90%;
}

.project-delete:hover {
  background-color: rgba(255, 0, 0, 0.6);
  border-radius: 1rem;
}

.project-edit:hover {
  background-color: rgba(255, 166, 0, 0.6);
  border-radius: 1rem;
}

.project-form {
  border-radius: 1rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: stretch;
}

.project-name-input {
  padding: 5px;
  border: none;
  outline: none;
  font-size: 1.2em;
}

.project-button-holder {
  display: flex;
  gap: 10px;
}

.project-button-holder > input {
  flex: 1;
  font-size: 1.3rem;
  border: none;
  outline: none;
  padding: 5px;
}

.project-button-apply {
  background-color: rgb(172, 255, 47);
}

.project-button-cancel {
  background-color: rgba(255, 0, 0, 0.7);
}

#main {
  padding: 100px 15%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 50px;
}

.project-heading {
  font-size: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.add-new-task {
  padding: 10px 20px;
  font-size: 1.5rem;
}

.task-table {
  border-spacing: 0px 20px;
}

.task-table :is(td, th) {
  text-align: start;
  padding: 5px 10px;
}

th {
  border-bottom: 2px solid black;
}

:is(td, th):not(:first-child) {
  border-left: 1px solid black;
}

.table-heading {
  font-size: 1.5rem;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.task-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  z-index: 10;
  background-color: white;
  width: 850px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.task-form > input {
  margin: auto;
  width: 60%;
  height: 40%;
  font-size: 1.5rem;
  font-weight: bold;
}

.priority-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.priority-holder > select {
  width: 40%;
  height: 40%;
  font-size: 1.5rem;
  font-weight: bold;
}

.task-submit {
  grid-column: 1 / -1;
}

.table-row.low > td {
  border-top: 3px solid green;
  border-bottom: 3px solid green;
}

.table-row.medium > td {
  border-top: 3px solid orange;
  border-bottom: 3px solid orange;
}

.table-row.high > td {
  border-top: 3px solid red;
  border-bottom: 3px solid red;
}

.table-row.low > td:first-child {
  border-left: 3px solid green;
}

.table-row.medium > td:first-child {
  border-left: 3px solid orange;
}

.table-row.high > td:first-child {
  border-left: 3px solid red;
}

.table-row.low > td:last-child {
  border-right: 3px solid green;
}

.table-row.medium > td:last-child {
  border-right: 3px solid orange;
}

.table-row.high > td:last-child {
  border-right: 3px solid red;
}

td {
  font-size: 1.2rem;
}

td:not(.DueDate) {
  font-size: 1.5rem;
}

.task-table td.change {
  padding: 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.change > * {
  display: inline-block;
  height: 50px;
}

.task-delete-svg:hover {
  background-color: rgba(255, 0, 0, 0.6);
  border-radius: 0.3rem;
}

.task-edit-svg:hover {
  background-color: rgba(255, 166, 0, 0.6);
  border-radius: 0.3rem;
}

.task-table input[type="checkbox"] {
  margin: auto;
  display: flex;
  transform: scale(2.5);
}

.checked {
  background-color: rgba(128, 128, 128, 0.5);
}
